body {
  background: #151E21;
  font-family: Arial, Helvetica, monospace;
}

header {
  /* background: rgba(51, 49, 49, 0.73); */
  border-bottom: 2px solid #BAC1B8;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 20px;
  padding: 0;
}

header h1 a {
  text-decoration: none;
  color: #B75D69;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-size: 15px;
  border-radius: 5px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #BAC1B8;
  text-decoration: none;
}

nav ul li:hover {
  background: #B75D69;
}

#main-container {
  color: #BAC1B8;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}