#user-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-around;
  gap: 30px 30px
}

.user-card {
  padding: 10px;
  border-radius: 5px;
  background: rgba(186, 193, 184, 0.7);
  width: 18rem;
  text-decoration: none;
}

.user-card-title {
  color: #151E21;
  font-weight: bold;
  text-align: center;
}

.user-card-image {
  display: flex;
  justify-content: center;
}

.user-img {
  width: auto;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-card:hover {
  background: #B75D69;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}