.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  width: 80%;
  background: #BAC1B8;
  border-radius: 5px;
  padding: 10px;
  color: black;
}

.user-img {
  width: 30%;
  padding: 20px;
  border-radius: 50%;
}

.link {
  text-decoration: none;
}

.button {
  background: #BAC1B8;
  font-size: 1.5rem;
  margin-top: 10px;
  border-radius: 5px;
}

#edit-btn:hover {
  background: #B75D69;
}

#delete-btn:hover {
  background: red;
  color: wheat;
}

#user-actions-container form {
  display: inline;
}